name: Performance Benchmark

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Run Benchmark
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Run Benchmark
        run: |
          bun benchmarks/index.ts
          mv result.json /tmp/result.json

      - name: Clean Git State
        run: |
          git reset --hard
          git clean -fd

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'customSmallerIsBetter'
          output-file-path: /tmp/result.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          comment-always: true
          name: "BareJS Performance (Latency)"
          gh-pages-branch: gh-pages
          benchmark-data-dir-path: dev/benchmarks