name: Performance Benchmark
on:
  push:
    branches: [ main ]

permissions:
  contents: write
  deployments: write

jobs:
  benchmark:
    name: Run Benchmark
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Clean Git State
        run: |
          git checkout bun.lock || true
          git checkout bun.lockb || true

      - name: Run Benchmark
        run: |
          bun benchmarks/index.ts
          ls -l result.json

      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1
        with:
          tool: 'customSmallerIsBetter'
          output-file-path: result.json
          github-token: ${{ secrets.GITHUB_TOKEN }}
          auto-push: true
          comment-always: true
          name: "BareJS Performance (Latency)"
          gh-pages-branch: gh-pages